" Normal Mode
imap jj <Esc>
imap оо <Esc>

" Deletion
nnoremap d "_d
nnoremap dd "_dd
nnoremap D "_D

" Pasting
xnoremap p "_dP

" Tabs
nnoremap H :action PreviousTab<CR>
nnoremap L :action NextTab<CR>
nnoremap ; $

" Navagation
noremap р h
noremap о j
noremap л k
noremap д l

" Insert mode
noremap ш i
noremap ф a
noremap щ o
noremap Ы O

" Useful
noremap ч x
noremap в d
noremap с c
noremap н y
noremap г u
noremap з p
noremap м v
noremap М V
noremap п g
noremap ц w
noremap и b
noremap Ц W
noremap И B

" Disable sounds
set visualbell
set noerrorbells
