* {
    background-image: none;
    font-size: 25px;
}

@import "../waybar/theme.css";


window {
    background-color: transparent;
}

button {
    color: @fg;
    background-color: @bg;
    outline-style: none;
    border: none;
    border-width: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    border-radius: 0px;
    box-shadow: none;
    text-shadow: none;
    animation: gradient_f 20s ease-in infinite;
}

/* button:focus {
    background-color: @gr;
    background-size: 20%;
} */

button:hover {
    background-color: @hover;
    background-size: 25%;
    border-radius: 5px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682);
}

button:hover#lock {
    border-radius: 15px 5px 5px 5px;
    margin: 5px 0px 0px 5px;
}

button:hover#logout {
    border-radius: 5px 5px 5px 15px;
    margin: 0px 0px 5px 5px;
}

button:hover#suspend {
    border-radius: 5px;
    margin: 5px 0px 0px 0px;
}

button:hover#hibernate {
    border-radius: 5px;
    margin: 0px 0px 5px 0px;
}

button:hover#shutdown {
    border-radius: 5px 15px 5px 5px;
    margin: 5px 5px 0px 0px;
}

button:hover#reboot {
    border-radius: 5px 5px 15px 5px;
    margin: 0px 5px 5px 0px;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
    margin : 5px;
    border-radius: 15px 0px 0px 0px;
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
    margin : 5px;
    border-radius: 0px 0px 0px 15px;
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
    margin : 5px;
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
    margin : 5px;
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
    margin : 5px;
    border-radius: 0px 15px 0px 0px;
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
    margin : 5px;
    border-radius: 0px 0px 15px 0px;
}
